<div class="newspaper">
	<div class="head">
		<div class="head-large mb-1 mt-1">
			<div class="logo mr-1">
				<div class="img-news-logo"></div>
			</div>
			<h1 class="mb-0">Daily Rockstr Gazette</h1>
		</div>
		<div class="head-small">
			<small class="text-right"><strong>{{formatDate date}}</strong></small>
			<small><strong>£1.60</strong> Subscribers save 50p</small>
		</div>
	</div>
	<div class="body">
		<div class="articles">
			{{#each nyt}}
				<div class="article">
					<h3>{{replaceNews headline.main}} <small>{{replaceNews byline.original}}</small></h3>
					<p>{{replaceNews lead_paragraph}}</p>
				</div>
			{{/each}}
		</div>
	</div>
</div>


