<div class="modal">
	<div class="modal-inner">
		<h2 class="modal-header">Settings</h2>
		<div class="modal-content">
			<div class="settings-panel">
        <h3>Instrument key-map</h3>
          {{#each keys}}
            <label>
              {{@key}}
              <input class="settings-key-map-input" type="text" value="{{code}}" placeholder="{{name}}" data-key="{{@key}}" />
            </label>
          {{/each}}
      </div>
		</div>
	</div>
</div>
