<div class="modal">
	<div class="modal-inner">
		<h2 class="modal-header">Recording studio</h2>
		<div class="modal-content">

			 	<div class="row flex-end mb-2">
			 		<strong>Cost £100</strong>
			 	</div>
			 	<div class="row mb-2">
			 		<label for="SongTitle">Which studio should we book: </label>
			 		<select id="rockstrStudioSelect">
						<option value="">Select studio</option>
					</select>
			 	</div>
			 	<div class="row mb-2">
			 		<label for="SongTitle">Which producer should we book: </label>
			 		<select id="rockstrProducerSelect">
						<option value="">Select producer</option>
					</select>
			 	</div>
			    <div class="row mb-2">
			        <label for="SongTitle">Write a song title: </label>
			        <input type="text" class="text-capitalize" id="SongTitle">
			        <button type="button" class="btn generate-song-title">Generate a title</button>
			    </div>
			    <div class="row mt-2">
			    	<button type="button" class="btn save-song-title">Let's get to it!</button>
			    </div>

		</div>
	</div>
</div>