* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: $main;
    font-size: 80%;
    height: 100vh;
    background: $dark;
    color: $dark;
    overflow: hidden;
}

small,
.small {
    font-size: .75em;
}

.full-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    background: $light;
    padding: 2em;
}

section {
    margin: 1em;
    padding: 1em;
    width: 100%;
    max-width: 50%;
    box-shadow: 2px 2px 5px 5px rgba($dark, .2);
    background: $light;
    max-height: 83vh;
    overflow: auto;
    background-image: url('../images/paper.png');
    background-size: cover;
    background-blend-mode: overlay;
    background-position: center;



    &.hidden-action {
        height: 100px;
        width: 100px;
        flex: 0 0 100px;

        &.show {
            flex: 0 0 70%;
            height: 100%;
            width: 100%;

            .hidden-action-container {
                display: block;
            }
        }

        .hidden-action-icon {
            display: flex;
            cursor: pointer;
            position: relative;
            height: 100%;
            width: 100%;
            justify-content: center;
            align-items: center;
            font-size: bold;
            font-size: 1.2em;
            color: $primary;
        }

        .hidden-action-container {
            display: none;
        }
    }

    &#feed {
        min-width: 20%;
        padding: 4px 20px 25px 45px;
        position: relative;
        border: 1px solid #B5B5B5;
        background: white;
        background: -webkit-linear-gradient(top, #DFE8EC 0%, white 8%) 0 57px;
        background: -moz-linear-gradient(top, #DFE8EC 0%, white 8%) 0 57px;
        background: linear-gradient(top, #DFE8EC 0%, white 8%) 0 57px;
        background-size: 100% 24px;

        &::before {
            content: "";
            z-index: -1;
            margin: 0 1px;
            width: 100%;
            height: 10px;
            position: absolute;
            bottom: -3px;
            left: 0;
            background: white;
            border: 1px solid #B5B5B5;
        }

        &::after {
            content: '';
            position: absolute;
            width: 0px;
            top: 0;
            left: 39px;
            bottom: 0;
            border-left: 1px solid #F8D3D3;
        }
    }
}

.wrapper {
    position: relative;
    max-width: 100%;
    height: 100vh;
    margin-right: auto;
    margin-left: auto;
    background: $dark url('../images/leather.png');
    transition: all .3s ease;

    .container {
        width: 100%;
        display: flex;
        padding: 0 1em;
    }

    &.time-ticking {
        pointer-events: none;
        overflow: hidden;
        transform: scale(.95);
    }

    .intro-container {
        position: absolute;
        background: $light;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 9;

        .container {
            justify-content: space-evenly;
            align-items: center;
        }

        .loading-container {
            position: absolute;
            width: 100vw;
            height: 100vh;
            background-color: $light;

            .loading {
                color: $primary;
                font-size: 11px;
                text-indent: -99999em;
                margin: 0 auto;
                top: 50%;
                position: relative;
                width: 10em;
                height: 10em;
                box-shadow: inset 0 0 0 1em;
                transform: translateY(-50%);
                border-radius: 50%;

                &::before,
                &::after {
                    position: absolute;
                    content: '';
                    border-radius: 50%;
                }

                &::before {
                    width: 5.2em;
                    height: 10.2em;
                    background: $light;
                    border-radius: 10.2em 0 0 10.2em;
                    top: -0.1em;
                    left: -0.1em;
                    transform-origin: 5.1em 5.1em;
                    animation: load2 2s infinite ease 1.5s;
                }

                &::after {
                    width: 5.2em;
                    height: 10.2em;
                    background: $light;
                    border-radius: 0 10.2em 10.2em 0;
                    top: -0.1em;
                    left: 4.9em;
                    transform-origin: 0.1em 5.1em;
                    animation: load2 2s infinite ease;
                }
            }
        }


    }

}