.fc-unthemed td {
    &.fc-other-month {
        opacity: .5;

        .fc-day-number {
            color: darken($light, 40%)
        }
    }

    &.fc-today {
        .fc-day-number {
            background-color: $primary;
            color: $light;
        }
    }

    .fc-event {
        background: transparent;
        border: 0;
    }

    .fc-day-grid-event .fc-content {
        text-overflow: ellipsis;
        font-family: $hand;
        color: $blue;

    }

    .fc-day-number {
        padding: 5px;
        margin: 2px;
        border-radius: 50%;
        font-size: .75em;
        width: 12px;
        height: 12px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
}