.feed-list {
    font-family: $hand;
    margin: 24px 0;

    p {
        font-size: 1em;
        line-height: 10px;
        margin: 3px 0 0;
    }
}




.feed-event-action {
    margin: 5px 0;
    display: block;
    font-size: 1.1em;
}


.newspaper {
    display: flex;
    flex-direction: column;
    font-family: $news;

    .head {
        border-bottom: 2px solid $dark;
        background-color: $light;
        margin-bottom: 1em;
        padding-bottom: .5em;

        h1 {
            font-size: 3em;
            text-shadow: -1px 1px 0 $light, -2px 2px 0 $dark;
            margin:0 0 .5em;
        }
        .head-small{
            display: flex;
            justify-content: space-between;
            strong{
                text-shadow: 1px 0 0 rgba(0,0,0,1)
            }
        }
    }

    .body {
        display: flex;

        .articles {
            column-count: 4;
            column-gap: 40px;
            column-rule: 1px solid #A1A1A1;

            .article {
                flex: 0 0 33%;
                padding: 0 10px 10px 0;
                text-align: justify;

                h3 {
                    text-align: left;
                    margin-bottom: 5px;


                    small {
                        display: block;
                        font-size: .5em;
                        font-weight: 100;
                        opacity: .5;
                    }
                }

                p {
                    padding: 0;
                }

                &:first-child {
                    h3 {
                        margin-top: 0;
                    }
                }
            }
        }
    }

}