$dark: #1a1516;
$light: #edefe1;
$primary: #66212b;
$secondary: #faf2d8;
$tertiary: #cb7259;

$blue: 	#000F55;

$danger: #bb2124;

$main: 'Anonymous Pro', monospace;
$news: 'Playfair Display', serif;
$hand: 'Nanum Brush Script', cursive;