@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro:400,700|Playfair+Display|Nanum+Brush+Script&display=swap');
@import 'variables';
@import 'utils';
@import 'base';
@import 'type';
@import 'buttons';
@import 'images';
@import 'bars';
@import 'charts';
@import 'feed_news';
@import 'drugs';
@import 'questions';
@import 'calendar';
@import 'modal';


.event-battle {
	.event-battle-row {
		display: flex;
		justify-content: space-between;

		.event-battle-column {
			display: flex;
			flex-direction: column;
			flex: 0 0 25%;

			.event-battle-content {
				opacity: .5;
				pointer-events: none;
			}

			&.active {

				.event-battle-content {
					opacity: 1;
					pointer-events: all;
				}
			}

			&.feed {
				flex: 0 0 40%;
			}

			.event-battle-actions {
				ul {
					list-style: none;
					padding: 0;
					margin: 0;

					li {
						cursor: pointer;
						margin-bottom: 1em;
						padding: .5em;
						background: $tertiary;
						color: $light;
					}
				}
			}
		}
	}
}

.tombstone {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	width: 250px;
	background: grey;
	border-radius: 5px 5px 0px 0px;
	overflow: hidden;
	font-size: 1rem;
	padding: 1em 1em 10em;
	box-shadow: 1px 1px 0px #999,
		2px 2px 0px #999,
		3px 3px 0px #999,
		4px 4px 0px #999,
		5px 5px 0px #999,
		6px 6px 0px #999;

	h1,
	h2,
	h3,
	h4,
	h5 {
		text-shadow: 1px 1px 1px #D0D2E8;
	}

	.tombstone-text-first {
		border-top: 1px solid #D0D2E8;
		padding-top: 1em;
		margin: 0;

		&::after {
			margin-top: 5px;
			content: '\2605';
			display: block;
		}
	}

	.tombstone-text-last {
		margin: 0;
		border-bottom: 1px solid #D0D2E8;
		padding-bottom: 1em;
		margin-top: 5px;
	}
}

ul.custom-select {
	position: relative;
	list-style-type: none;
	margin: 0px;
	padding: 0;
	border: 1px solid #ccc;
	background-color: white;

	li {
		height: 22px;
		display: none;
		padding: 5px;
		background-color: red;
	}

	&::before {
		padding: 5px;
		height: 12px;
		display: block;
		content: attr(data-selected);
	}

	&::after {
		right: 5px;
		content: '\FE40';
		position: absolute;
		top: 5px;
	}

	&.active {
		li {
			display: block;
		}
	}
}


.gig-game {
	display: grid;
	grid-template-columns: 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px;
	grid-template-rows: 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px;
	column-gap: 10px;
	row-gap: 10px;

	.gig-game-block {
		border: 1px solid $dark;
		background-color: $secondary;
		border-radius: 50%;

		&.active {
			background-color: $red;
			animation: lsd-trip .3s infinite;
		}
	}
}

.gig-audience {
	background: url('../images/audience.svg');
	background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
}

.gig-game-ready {
	width: 100%;
	margin-left: 1em;
	position: relative;
	overflow: hidden;

	&::after {
		content: '';
		background: url('../images/guitar.svg');
		width: 500px;
		height: 500px;
		transform: rotate(85deg);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		position: absolute;
		top: -119px;
		left: 50px;
		z-index: -1;
	}

	.arm {
		position: absolute;
		width: 37px;
		height: 170px;
		transform-origin: top center;
		transform: rotate(5deg);
		transition: all 0.3s ease;
		left: 173px;
		top: -60px;

		&.ready {
			transform: rotate(45deg);
		}

		&.hit {
			transform: rotate(-10deg);
		}

		&::before {
			content: '';
			position: absolute;
			width: 37px;
			height: 170px;
			background: $red;
			transform-origin: top center;
			transform: rotate(5deg);
			left: 14px;
			top: 0;
			box-shadow: 0px 1px 1px rgba($dark, .5);
		}

		&::after {
			content: '';
			background: url('../images/hand.svg');
			width: 80px;
			height: 110px;
			transform: rotate(147deg);
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			position: absolute;
			top: 121px;
			left: -19px;
			z-index: -1;
		}
	}
}