@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro:400,700|Playfair+Display|Nanum+Brush+Script&display=swap');
@import 'variables';
@import 'utils';
@import 'base';
@import 'buttons';
@import 'bars';
@import 'charts';
@import 'feed_news';
@import 'drugs';
@import 'questions';
@import 'calendar';
@import 'modal';


.event-battle {
	.event-battle-row {
		display: flex;
		justify-content: space-between;

		.event-battle-column {
			display: flex;
			flex-direction: column;
			flex: 0 0 25%;

			.event-battle-content {
				opacity: .5;
				pointer-events: none;
			}

			&.active {

				.event-battle-content {
					opacity: 1;
					pointer-events: all;
				}
			}
			&.feed{
				flex: 0 0 40%;
			}

			.event-battle-actions {
				ul {
					list-style: none;
					padding: 0;
					margin: 0;

					li {
						cursor: pointer;
						margin-bottom: 1em;
						padding: .5em;
						background: $tertiary;
						color: $light;
					}
				}
			}
		}
	}
}

.tombstone {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	width: 250px;
	background: grey;
	border-radius: 5px 5px 0px 0px;
	overflow: hidden;
	font-size: 1rem;
	padding: 1em 1em 10em;
	box-shadow: 1px 1px 0px #999,
		2px 2px 0px #999,
		3px 3px 0px #999,
		4px 4px 0px #999,
		5px 5px 0px #999,
		6px 6px 0px #999;

	h1,
	h2,
	h3,
	h4,
	h5 {
		text-shadow: 1px 1px 1px #D0D2E8;
	}

	.tombstone-text-first {
		border-top: 1px solid #D0D2E8;
		padding-top: 1em;
		margin: 0;

		&::after {
			margin-top: 5px;
			content: '\2605';
			display: block;
		}
	}

	.tombstone-text-last {
		margin: 0;
		border-bottom: 1px solid #D0D2E8;
		padding-bottom: 1em;
		margin-top: 5px;
	}
}